* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
button {
    padding: 4px;
    border-radius: 4px;
    font-size: 1rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    text-align: center;
    padding: 12px;
    background-color: darkcyan;
}
/* The Logo */
header h1 {
    font-weight: bolder;
    font-size: 2rem;
    font-style: italic;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border: 1px solid black;
    background-color: darkgrey;
}
main {
    flex: 1;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 6px 24px;
    background-color: darkcyan;
    font-size: 1rem;
    font-style: italic;
}
dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 24px;
    background-color: white;
    line-height: 24px;
    text-align: center;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}
#dlgImport input, form {
    display: inline;
}
.showProjects {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 24px;
}
.project {
    border-radius: 8px;
    padding: 8px;
    background-color: grey;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
.showTasks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    padding: 24px;
}
.task {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 16px;
    margin: 4px 0px;
    padding: 4px 8px;
    background-color: lightgrey;
    font-weight: normal;
    font-style: normal;
}